body {
  margin: 0;
}

.video {
  margin-top: 0;
  width: 100%;
  /*height: 600px;*/
  object-fit: cover;
  z-index: -100;
  position: relative;
}

.logo h1 {
  text-align: center;
  margin-top: 60px;
  padding: 0;
  position: absolute;
  margin-left: 630px;
}

.container {
  position: absolute;
  top: 45%;
  left: 45%;
}
.serching_text h1 {
  text-align: center;
}

.serching {
  height: 38px;
  background: violet;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

/*최상단 moving bar----------------------------*/
.movingbar {
  height: 35px;
  width: 100%;
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
}

.movingbar .h1 {
  font-size: 7px;
  color: white;
  text-align: center;
  letter-spacing: 0.2em;
  /*background-repeat: repeat-x;*/
  animation: highway 25s linear infinite;
}

@keyframes highway {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(-1000px);
  }
}

@media only screen and (max-width: 767px) {
  .logo h1 {
    font-size: 10px;
  }
  .movingbar h1 {
    font-size: 10px;
  }
}
